html {
    overflow: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#popularShows,
#allShows {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    max-width: 85vw;
}

.show-image {
    max-width: 15vw;
}

.show-title {
    color: white;
}

.show-rating {
    color: orange;
}

.show {
    display: flex;
    flex-direction: column;
}

#search {
    margin: 1vw;
}

.fas {
    color: white;
}

.fas:hover {
    cursor: pointer;
    color: orange;
}

.fa {
    color: white;
}